.navbar {
  height: 80px;
  background: linear-gradient(30deg, dodgerblue, violet);
  color: #fff;
  padding: 0 10%;
  display: flex;
  align-items: center;
  gap: 40px;
}
.link {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar svg {
  display: none;
}
@media screen and (max-width: 750px) {
  .navbar {
    padding: 0 20px;
    gap: 20px;
  }
  .navbar h2 {
    font-size: 20px;
  }
  .navbar a {
    font-size: 14px;
  }
}
@media screen and (max-width: 450px) {
  .navbar {
    justify-content: space-between;
  }
  .navbar svg {
    display: block;
    font-size: 24px;
  }
  .link {
    position: fixed;
    top: 80px;
    background: linear-gradient(30deg, dodgerblue, violet);
    padding: 30px;
    width: 100%;
    left: 0;
    z-index: 1000;
    right: 0;
    flex-direction: column;
    transform-origin: top;
    transform: scaleY(0);
    justify-content: center;
    transition: 0.3s;
  }
  .link.show {
    transform: scaleY(1);
  }
}
.navbar a {
  color: #fff;
  text-decoration: none;
}
.navbar a.active {
  color: crimson;
}
.navbar a sup {
  background: crimson;
  color: #fff;
  padding: 1px 3px;
  min-width: 16px;
  text-align: center;
  display: inline-block;
  border-radius: 20px;
  font-size: 11px;
}
